{% extends "base.html" %}
{% block content %}
<div class="container my-5">
    <h1>Редактировать тур: {{ tour.title }}</h1>
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.title.label }} {{ form.title(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.description.label }} {{ form.description(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.image.label }} {{ form.image(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.country.label }} {{ form.country(class="form-select") }}
        </div>
        <div class="mb-3">
            {{ form.price.label }} {{ form.price(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.duration.label }} {{ form.duration(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.is_draft.label }} {{ form.is_draft(class="form-select") }}
        </div>
        {{ form.submit(class="btn btn-primary") }}
    </form>
</div>
{% endblock %}